{% extends "app/base.html" %}
{% load staticfiles %}
{% load static %}
{% block assets %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/then-request/2.2.0/request.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="{% static "js/register-colores.js" %}"></script>
	<script src="{% static "js/dnd-colores.js" %}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .btn-iniciar {
            width: 150px;
            height: 80px;
            font-size: 35px !important;
            background: #ADDE94;
        }

        .content-btn-iniciar {
            text-align: right;
            margin-bottom: 15px;
        }

        .draggablesContenedor{
            padding: 10px;
            background-color: ghostwhite;
            border: 6px solid gainsboro;
        }

        .draggablesContenedor section{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            border: 1px solid;
            box-shadow: 5px 5px 5px;
            margin-bottom: 10px;
        }
        .dropzoneContenedor article{
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 10px;
        }
    </style>

    <script type="application/javascript">
    $(document).ready(function () {
        $('.modal').modal('show');
    })
    </script>
{% endblock %}
{% block onload %}
    {% if slug %} onload="window.get_play('{{ slug }}'); return false;" {% endif %}
{% endblock %}
{% block menu %}
	<nav class="navbar navbar-embossed menu-nav row middle " style="background-color: #ADDE94">
		<div class="col-4">
			<div class="fuente">Actividades | Colores</div>
		</div>
		<div class="botonbarranav">
            <a id="game_save" class="key-press fuente" style="display: inline-block" href="#"> Guardar </a>
            |
            <a key-data="115" class="key-press fuente" style="display: inline-block" href="{% url 'actividades' %}"> Salir </a>
		</div>
	</nav>
{% endblock %}
{% block  content %}
    <div id="wellcome">
		<div class="container">
			<h1>Hola {{ user.first_name }}</h1>
			<h3>Bienvenido a Rutina</h3>
			<p>Selecciona el nivel de dificultad con el que quieres enfrentar el reto.</p>
			<div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <a href="#" class="thumbnail" onclick="window.get_play('primer-nivel'); return false;">
                                  <img src="{% static "img/nivel_1.png" %}" alt="">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="thumbnail" onclick="window.get_play('segundo-nivel'); return false;">
                                  <img src="{% static "img/nivel_2.png" %}" alt="">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="thumbnail" onclick="window.get_play('tercer-nivel'); return false;">
                                  <img src="{% static "img/nivel_3.png" %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>,

    <div id="game" style="display: none" class="col-md-12">
        <section class="row">
            <div class="col-4 content-btn-iniciar">
                <img width="100px" src="{% static "img/video.gif" %}" alt="video" style="float: left" onclick="$('#myModal').modal('show');">
            </div>
            <div class="col-4 content-btn-iniciar">
                <h2>Encajar aquí</h2>
            </div>
            <div class="col-4 content-btn-iniciar">
                <button class="btn btn-iniciar" id="iniciar_js">Jugar</button>
            </div>
        </section>
        <section class="dropzoneContenedor" id="dropzoneContenedor_js">

        </section>

        <h2>Arrastrar Imágenes</h2>
        <section class="draggablesContenedor" id="draggablesContenedor_js">

        </section>

        <section id="contenedorMensaje_js"></section>


        <section style="display: none;">
            <p>Intentos : <strong> <span id="contenedorIntentos_js"></span></strong> </p>
            <p>Tiempo : <strong> <span id="Segundos"></span></strong> </p>
        </section>
    </div>

    <div class="modal fade in" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ actividades.nombre }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ actividades.video }}" frameborder="0" allowfullscreen></iframe>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}