{% extends "app/base.html" %}
{% load staticfiles %}
{% block assets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% load static %}
{% block menu %}
	<nav class="navbar navbar-embossed menu-nav row middle " style="background-color: #FF8A84">
		<div class="col-4">
			<div class="fuente">Actividades</div>
		</div>
		<div class="botonbarranav">
				<a href="{% url 'logout' %}" class="fuente"> Salir </a>
		</div>
	</nav>
{% endblock menu %}
{% block  content %}
	<div class="actividades" style="text-align: center">
		{% for actividad in actividades %}
            <div style="background-color: {{ actividad.color }}; width: 49%; height: 250px; display: inline-block; border: 1px solid #000000;">
                <div class="col-md-6" style="border: 1px solid #000000; height: 250px;">
                    <h6>{{ actividad.nombre }}</h6>
                    <img class="actividad-image" src="../{{ actividad.image }}" alt="" width="150px" height="150px">
                    <a key-data="{{ actividad.key_press }}" href="{% url actividad.nombre %}" class="key-press actividades-button actividades-button-rd" style="background-color: white"> {{ actividad.key_press_description }}</a>
                </div>
                <div class="col-md-6" style="border: 1px solid #000000; height: 250px;">
                    {% for nivel in actividad.nivelesmodel_set.all %}
                        <div class="col-md-12">
                            <a href="{% url actividad.nombre %}?slug={{ nivel.slug }}">
                                <img class="actividad-image" src="../{{ nivel.image }}" alt="" height="60px" style="margin: 10px 50px;">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
		{% endfor %}
	</div>
{% endblock  %}