@import "reticula.styl"

ul
	list-style none
	padding 0

h1, h2, h3, h4
	margin 0

.menu
	height 130px

.fuente
	font-size 30px
	color black
	font-family Comic Sans MS
	font-weight bold
	&-paginicio
		font-size 90px
		color #DEB887
	&-form
		font-size 26px
		text-align left

.menu-nav
	width 100%
	h1, h2, h3
		margin	0
	background #decb7e
	color black
	border-style solid
	border-width 2px
	&-actividades
		background #dce0e2
		color black
		border-style solid
		border-width 2px
	&-descripcionrd
		background #75A9F9
		color black
		border-style solid
		border-width 2px

.flex
	display flex

.content-view
	display flex
	height calc(100% - 110px)

.form-admon-title
	margin-bottom 15px

.navbar-left
	.menu-item
		float left

.actividades
	height 600px
	width 700px
	position relative
	padding 0
	
.actividad-content
	background #defbea
	height 245px
	width 250px
	display inline-block
	border-radius 11px 11px 11px 11px
	font-family Comic Sans MS
	&-rd
		left 200px
		top 120px
	&-sc
		left 600px
		top 120px
	&-tp
		left 200px
		bottom 15px
	&-ba
		left 600px
		bottom 15px

.actividad-image
	display block
	margin auto

.actividades-button
	width 150px
	height 25px
	margin-top 10px
	border-style solid
	border-width 1px
	border-color black
	border-radius 11px 11px 11px 11px
	font-family Comic Sans MS
	&-rd
		background #75A9F9
	&-sc
		background #66FF99
	&-tp
		background #FFFF99
	&-ba
		background #FF6666

.botonbarranav
	position absolute
	right 100px
	font-family Comic Sans MS

.menu-button
	width 250px
	height 35px
	margin-top 10px
	font-size 19px
	border-style solid
	border-width 1px
	border-color black
	border-radius 11px 11px 11px 11px
	font-family Comic Sans MS
	&-rd
		background #75A9F9
	&-sc
		background #66FF99
	&-tp
		background #FFFF99
	&-ba
		background #FF6666

.indicadorbotones-content
	height 260px
	width 200px
	position relative
	top 10px
	border #e74c3c
	border-style solid
	border-radius 11px 11px 11px 11px

.indicadorprogreso-content
	height 100px
	width 200px
	position relative

.indicadorbotones-button
	width 150px
	height 40px
	position relative
	border-style solid
	border-width 1px
	border-color black
	border-radius 11px 11px 11px 11px
	&-rd
		background #75A9F9
		top 20px
	&-sc
		background #66FF99
		top 40px
	&-tp
		background #FFFF99
		top 60px
	&-ba
		background #FF6666
		top 80px

.login-form
	width 400px

.form-control
	width 280px

.tabla
	border 1px solid black
	border-collapse collapse
	width 150%
	td, th
		border 1px solid black

.calificaciones
	left 100px
	position absolute